<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="d" class="me.medev.dependency_injection.repository.IDoaImpl"/>
    <bean id="IService" class="me.medev.dependency_injection.service.IServiceImpl">
        <property name="IDoa" ref="d"/>
    </bean>
</beans>